<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}"/>
  <meta name="keywords" content="{{ with .Params.tags -}}{{ delimit . ", "}}{{- end }}"/>
  <meta name="copyright" content="1995-{{ now.Format "2006" }} The FreeBSD Foundation" />
  <link rel="canonical" href="{{ .Permalink }}" />

  <title>{{ with .Params.Title }}{{ . }} | {{ end }} {{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

  <meta name="theme-color" content="#790000">
  <meta name="color-scheme" content="system light dark high-contrast">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>


    <link rel="shortcut icon" href="{{ $.Site.BaseURL }}/favicon.ico">

    {{- $styles := resources.Get "styles/main.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}/css/font-awesome-min.css">

    {{- $themeChooser := resources.Get "js/theme-chooser.js" | resources.Minify }}
    <script defer src="{{ $themeChooser.RelPermalink }}"></script>

    {{- $copyClipboard := resources.Get "js/copy-clipboard.js" | resources.Minify }}
    <script defer src="{{ $copyClipboard.RelPermalink }}"></script>

    {{- $search := resources.Get "js/search.js" | resources.Minify }}
    <script defer src="{{ $search.RelPermalink }}"></script>

    {{- $fssearch := resources.Get "js/fssearch.js" | resources.Minify }}
    <script defer src="{{ $fssearch.RelPermalink }}"></script>

  <!-- SEO -->
  {{ if $.Site.Params.isOnline }}
    <!-- <meta name="twitter:card" content="summary"/>
    <meta name="twitter:domain" content="free.bsd-doc.org"/>
    <meta name="twitter:site" content="@bsd-doc"/>
    <meta name="twitter:url" content="https://twitter.com/freebsd"/> -->
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Params.Title }}{{ else }}{{ .Title }}{{ end }}" />
    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{ absLangURL ($.Site.BaseURL) }}favicon.ico"/>
    <meta property="og:image:alt" content="FreeBSD Logo">
    <meta property="og:locale" content="{{ $.Site.Language.Lang | default "zh-cn" }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "url": "{{ .Permalink }}",
        "name": "{{ .Site.Title }}",
        "headline": "{{ .Site.Title }}",
        "description": "{{ .Site.Params.description }}"
      }
    </script>
    <!-- END SEO -->

  {{ end }}
</head>

